.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadeIn;
  animation-duration: 0.4s;
  height: 100%;
  display: none;
}

.modal-content {
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
  height: 100%;
  transition: transform linear 500ms;
  transform: translateX(300px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
